version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: search_engine_php
    volumes:
      - .:/var/www/html
    environment:
      DATABASE_URL: "mysql://root:root@mysql:3306/search_engine?serverVersion=8.0"
      REDIS_URL: "redis://redis:6379"
      MAILER_DSN: "smtp://mailhog:1025"
      MAIL_FROM: "noreply@searchengine.com"
    depends_on:
      - mysql
      - redis
      - mailhog
    networks:
      - search_network

  nginx:
    image: nginx:alpine
    container_name: search_engine_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - search_network

  mysql:
    image: mysql:8.0
    container_name: search_engine_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: search_engine
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - search_network

  redis:
    image: redis:alpine
    container_name: search_engine_redis
    ports:
      - "6379:6379"
    networks:
      - search_network

  mailhog:
    image: mailhog/mailhog
    container_name: search_engine_mailhog
    ports:
      - "1025:1025"  # SMTP server
      - "8025:8025"  # Web UI
    networks:
      - search_network

###> doctrine/doctrine-bundle ###
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      # You should definitely change the password in production
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

networks:
  search_network:
    driver: bridge

volumes:
  mysql_data:

###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
